RewriteEngine On
RewriteBase /

# Rewrite for clean URLs (e.g., /Naruto to /index.html?to=Naruto)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ index.html?to=$1 [L,QSA]